@import "../node_modules/bootstrap/scss/bootstrap";
// COLORS
$primary: #546970;
$secondary: #ffffff;
$success: #48b169;
$info: #dbb169;
$warning: #db524d;
$danger: #ff524d;

// STATIC
$filepath: "../static/MyPicture.jpg";

// VALUES
$circle-size: 100vh;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $secondary,
  "dark":       $primary,
);

// EXTENDABLE CLASSES
%circle {
  height: $circle-size;
  width: $circle-size/1.4;
  border-bottom-left-radius: $circle-size * 2;
  border-top-left-radius: $circle-size * 2;
  float: right;
};

// CODE
body {
  background-color: $primary;
};

// CIRCLE
circle-frame {
  @extend %circle;
  width:$circle-size/1.5;
  background: $secondary;
  img {
    @extend %circle;
  };
};

//NAVBAR
$nav-size: 7em;
nav {
  float: left;
  margin-top: calc(50vh - $nav-size);
  width: $nav-size / 1.2;
  height: $nav-size*3;
  background-color: $secondary;
  border-top-right-radius: $nav-size*2;
  border-bottom-right-radius: $nav-size*2;
  div {
    ul {
      margin-top: $nav-size/2.2;
      margin-bottom: auto;
      li {
        a {
          img {

            max-height: 2em;
          };
        };
      };
    };
  };
};