@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// COLORS
$primary: #546970;
$secondary: #ffffff;
$success: #48b169;
$info: #dbb169;
$warning: #db524d;
$danger: #ff524d;
$light: #6e8891;
$dark: #374449;

// STATIC
$filepath: "../static/MyPicture.jpg";

// VALUES
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
) !default;

// EXTENDABLE CLASSES
$circle-size: 100vh;
%circle {
  height: $circle-size;
  width: calc($circle-size/1.4);
  border-bottom-left-radius: $circle-size * 2;
  border-top-left-radius: $circle-size * 2;
  float: right;
};

// FUNCTIONS
@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px) {
  $k: calc(($f-max - $f-min)/($v-max - $v-min));
  $b: $f-min - $k * $v-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

// CODE
body {
  background-color: $primary;
  font-size: calcFluidFontSize(0.9, 1.8, 30, 160, rem);
}

// CIRCLE
circle-frame {
  @extend %circle;
  width: calc($circle-size/1.5);
  background: $secondary;
  img {
    @extend %circle;
  };
};

//NAVBAR
$nav-size: 15em;
nav { 
  float: left;
  margin-top: calc($nav-size/3);
  margin-right: 3em;
  height: $nav-size;
  background-color: $secondary;
  border-top-right-radius: $nav-size;
  border-bottom-right-radius: $nav-size;
  div {
    ul {
      margin-top: 40%;
      li {
        a {
          img {
            width: 1.7em;
          };
        };
      };
    };
  };
};

// ABOUT MYSELF
$card-size: 15vw;
div.card-column {
  card.container-sm {
    width: $card-size;
    div.card {
      justify-content: center;
      background-color: $secondary;
      border-radius: 4em;
      h5.card-header {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        text-align: center;
        color: $dark; 
        };
      };
      div.card-body {
        margin-left: 2em;
        margin-right: 2em;
        p {
        };
      };
    };
  };